{#<form method="post" onsubmit="return confirm('Skutocne???');" action="{{ path('categories', { id: id }) }}">#}
{#    <button class="btn btn-danger">DELETE</button>#}
{#</form>#}

{{ form_start(form, { attr: { class: 'd-inline-block', onsubmit: 'return confirm("Are you sure you want to delete this category?");' } }) }}
{{ form_row(form.id, { attr: { value: id } }) }}
{{ form_row(form.submitButton) }}
{{ form_end(form) }}