{% extends 'base.html.twig' %}
{% block title %}Categories{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page-categories') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-categories') }}
{% endblock %}
{% block body %}

    <div class="container">
        {{ include('layout/modal/delete.html.twig') }}
        <div class="row">
            <div class="col">
                <h2 class="text-secondary mb-3">Categories</h2>
                <div class="card mt-3 bg-dark">
                    <div class="card-header text-white">
                        Filter
                    </div>
                    <div class="card-body bg-white">
                        {{ form_start(filterForm) }}
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    {{ form_row(filterForm.name, {
                                        attr: {
                                            class: "selectpicker form-control"
                                        }
                                    }) }}
                                </div>
                            </div>

                            <div class="col-5">
                            </div>
                            <div class="col-3 justify-content-center align-self-center">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    {{ form_row(filterForm.submit, {
                                        label: "###ICON### apply",
                                        attr: {
                                            class: "form-control btn btn-outline-secondary btn-xs"
                                        }
                                    }) | replace({"###ICON###": "<span class='fa fa-filter'></span>"}) | raw }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(filterForm) }}
                    </div>
                </div>
                <div class="mt-3 mb-5">
                    <a href="{{ path('add_category') }}" type="button" class="btn btn-success btn-lg"><span
                                class="fa fa-plus"></span> Add category </a>
                </div>
                <div data-data-table data-options='{{ datatable_settings(datatable) }}'></div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}