{% extends 'base.html.twig' %}

{% block title %}Edit item{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page-editItem') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-editItem') }}
{% endblock %}

{% block body %}
    <div class="container" style="width: 75%">
        <div class="row">
            <div class="col">
                <div class="card bg-dark">
                    <div class="card-header text-white">
                        Edit Item
                    </div>

                    {{ form_start(editItemForm) }}

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <div class="form-group">
                                {{ form_row(editItemForm.name, {
                                    attr: {
                                        class: "form-control"
                                    }
                                }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(editItemForm.parent, {
                                    attr: {
                                        class: "form-control selectpicker w-100",
                                        "data-live-search": "true"
                                    }
                                }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(editItemForm.location, {
                                    attr: {
                                        class: "form-control selectpicker w-100",
                                        "data-live-search": "true"
                                    }
                                }) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(editItemForm.category, {
                                    attr: {
                                        class: "form-control selectpicker w-100",
                                        "data-live-search": "true"
                                    }
                                }) }}
                            </div>
                            {{ form_row(editItemForm.submitButton) }}

                        </li>
                    </ul>
                    {{ form_end(editItemForm    ) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
