{% extends 'base.html.twig' %}

{% block title %}Edit item{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page-editItem') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-editItem') }}
{% endblock %}

{% block body %}
{#    <p>{{ editItem.getParent().getName() }}</p>#}
    <div class="container" style="width: 75%">
        {{ form_start(editItemForm) }}
        <div class="form-group">
            {{ form_row(editItemForm.name, {
                attr: {
                    class: "form-control"
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(editItemForm.parent, {
                attr: {
                    class: "form-control selectpicker w-100",
                    "data-live-search": "true"
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(editItemForm.category, {
                attr: {
                    class: "form-control selectpicker w-100",
                    "data-live-search": "true"
                }
            }) }}
        </div>
        <div class="form-group">

            {% if editItem.getParent() is empty %}
                {{ form_row(editItemForm.location, {

                    attr: {
                        class: "form-control selectpicker w-100",
                        "data-live-search": "true"
                    }
                }) }}
                {% else %}
                    {{ form_row(editItemForm.location, {

                        attr: {
                            class: "form-control selectpicker w-100",
                            "data-live-search": "true",
                            "disabled": "true"
                        }
                    }) }}
            {% endif %}
        </div>
        {{ form_end(editItemForm) }}
    </div>
{% endblock %}
