{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page-login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-login') }}
{% endblock %}

{% block body %}
<body class="c-app flex-row align-items-center">
<div class="container">
    <form class="form" role="form" method="post">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %} {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                        />
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                <i class="c-icon fas fa-at"></i>
                                </span>
                            </div>
                            <input id="inputEmail"
                                   type="email"
                                   class="form-control"
                                   name="email"
                                   value="{{ last_username }}"
                                   required
                                   autofocus
                                   placeholder="e-mail address"
                            >
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"><span class="input-group-text">

                                <i class="c-icon fas fa-key"></i>
                                </span></div>
                            <input  id="inputPassword"
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    required
                                    placeholder="password"
                            >
                        </div>
{#                        <div class="checkbox">#}
{#                            <label>#}
{#                                <input type="checkbox" name="_remember_me"> Remember me#}
{#                            </label>#}
{#                        </div>#}
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary px-4" type="submit" >Login</button>
                            </div>
{#                            <div class="col-6 text-right">#}
{#                                <button class="btn btn-link px-0" type="button">Forgot password?</button>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                        <div>
                            <h2>Sign up</h2>
                            <p>If you have no account,<br /> feel free to register now.</p>
                            <a href="{{ path('registration') }}" class="btn btn-lg btn-outline-light mt-3"> </i>&nbsp;Register Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}






